.card{
    background-color: white;
    

}
.card button{
    width: 100%;
}
.card img{
    height: 200px;
    
}


.img-hover-zoom{
    overflow: hidden;
}
  .img-hover-zoom img {
    transition: transform .9s ease;
  }
  
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  .iconStyle{
    color: red;
    font-size: 15px;
    margin-right: 2px;
  }