.aboutus{
    background-color: #111430;
    padding-bottom: 120px;
    padding-top: 80px;
}
.title-s{
    font-size: 20px;
}
.title-v{
    font-size: 18px;
}
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
  }