nav{
    background-color: #111430;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 100%;

}
.brandText{
    font-size: 25px;
    font-weight: bold;
}
nav li a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white !important;
}
nav li a:hover{
    border-bottom: 1px solid yellow;
}

@media only screen and (max-width:469px) {
    nav ul{
        float:right;
        
    }
    nav ul li a{
        text-align: right;
    }
}